Importing Dependencies

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

Data Collection and Processing

In [2]:
# loading the csv data to a Pandas DataFrame
df = pd.read_csv('C:/Users/heman/OneDrive/Desktop/Disease Prediction/dataset/Typhoid1.csv')

In [3]:
df.head()

,Age,Gender,Hemoglobin_g_dL,Platelet_Count,Calcium_mg_dL,Potassium_mmol_L,Output
0,38,0,13.9,259366,8.7,4.9,0
1,48,1,12.3,208128,8.3,4.3,1
2,33,1,10.7,251028,10.0,3.8,0
3,56,1,14.9,157787,9.4,3.7,1
4,67,1,13.1,217075,9.8,5.0,1

In [4]:
df.shape

(500, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               500 non-null    int64
 1   Gender            500 non-null    int64
 2   Hemoglobin_g_dL   500 non-null    float64
 3   Platelet_Count    500 non-null    int64
 4   Calcium_mg_dL     500 non-null    float64
 5   Potassium_mmol_L  500 non-null    float64
 6   Output            500 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 27.5 KB

In [6]:
df.isnull().sum()

Age                 0
Gender              0
Hemoglobin_g_dL     0
Platelet_Count      0
Calcium_mg_dL       0
Potassium_mmol_L    0
Output              0
dtype: int64

In [7]:
# Describing the dataset
df.describe()

,Age,Gender,Hemoglobin_g_dL,Platelet_Count,Calcium_mg_dL,Potassium_mmol_L,Output
count,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000
mean,43.052000,0.516000,12.485200,209209.37200,9.005200,4.282400,0.540000
std,14.922421,0.500244,1.460454,50086.57406,0.562749,0.428319,0.498897
min,18.000000,0.000000,10.000000,120255.00000,8.000000,3.500000,0.000000
25%,31.000000,0.000000,11.200000,168766.50000,8.575000,3.900000,0.000000
50%,42.000000,1.000000,12.400000,211856.50000,9.000000,4.300000,1.000000
75%,55.000000,1.000000,13.800000,251112.75000,9.500000,4.700000,1.000000
max,70.000000,1.000000,15.000000,299799.00000,10.000000,5.000000,1.000000

In [8]:
df['Output'].value_counts()

Output
1    270
0    230
Name: count, dtype: int64

In [9]:
X=df.drop(columns='Output',axis=1)
Y=df['Output']
#df=df.drop(columns='Gender',axis=1)
#df['Treatment Outcome'] = df['Treatment Outcome'].replace({'Successful':1, 'Unsuccesful':0})
#df['Gender'] = df['Gender'].replace({'Male':1, 'Female':0})

In [10]:
print(X)

     Age  Gender  Hemoglobin_g_dL  Platelet_Count  Calcium_mg_dL  \
0     38       0             13.9          259366            8.7
1     48       1             12.3          208128            8.3
2     33       1             10.7          251028           10.0
3     56       1             14.9          157787            9.4
4     67       1             13.1          217075            9.8
..   ...     ...              ...             ...            ...
495   31       0             14.9          239852            8.8
496   27       0             14.2          259369            9.2
497   51       0             13.0          137143            9.6
498   19       0             10.7          281796            8.5
499   68       0             13.9          262155            9.0

     Potassium_mmol_L
0                 4.9
1                 4.3
2                 3.8
3                 3.7
4                 5.0
..                ...
495               4.2
496               4.4
497               4.4
498               4.9
499               4.2

[500 rows x 6 columns]

In [11]:
print(Y)

0      0
1      1
2      0
3      1
4      1
      ..
495    1
496    1
497    1
498    1
499    1
Name: Output, Length: 500, dtype: int64

In [12]:
# Training and testing the model
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y, random_state=2)

In [13]:
print(X.shape,X_train.shape,X_test.shape)

(500, 6) (400, 6) (100, 6)

Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model=svm.SVC(kernel='linear')

In [15]:
model.fit(X_train, Y_train)

SVC(kernel='linear')

In [16]:
# Predicting and checking accuracy of train data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.5325

In [17]:
# Predicting and checking accuracy of test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print('Accuracy on testing data:',test_data_accuracy)

Accuracy on testing data: 0.56

Predict

In [18]:
# Checking the results with the original data set values
input_data=(28,0,14.7,250223,9.6,4.1)

input_data_as_numpy_array=np.array(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

prediction=model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==0):
    print('The person does not have typhoid')
else:
    print('The person has typhoid')

[1]
The person has typhoid

In [19]:
# Saving the trained model 
import pickle
filename = 'C:/Users/heman/OneDrive/Desktop/Disease Prediction/saved_models/typhoid_model.sav'
pickle.dump(model, open(filename, 'wb'))
loaded_model = pickle.load(open('C:/Users/heman/OneDrive/Desktop/Disease Prediction/saved_models/typhoid_model.sav', 'rb'))

In [20]:
input_data=(28,0,14.7,250223,9.6,4.1)

input_data_as_numpy_array=np.array(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

prediction=model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==0):
    print('The person does not have typhoid')
else:
    print('The person has typhoid')

[1]
The person has typhoid

In [21]:
for column in X.columns:
  print(column)

Age
Gender
Hemoglobin_g_dL
Platelet_Count
Calcium_mg_dL
Potassium_mmol_L